<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".QuizzerApp"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.Quizzer"
      tools:targetApi="31">
    <activity
        android:exported="true"
        android:label="@string/app_name"
        android:name=".MainActivity"
        android:theme="@style/Theme.Quizzer"
        android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <meta-data
          android:name="android.app.lib_name"
          android:value="" />

      <intent-filter
          android:icon="@mipmap/ic_launcher"
          android:label="@string/app_name">
        <action android:name="android.intent.action.VIEW" />
        <action android:name="android.intent.action.EDIT" />

        <category android:name="android.intent.category.DEFAULT" />
        <!-- change custom file extension -->
        <data android:mimeType="*/*" />
        <data android:host="*" />
        <data android:pathPattern=".*\\.quiz" />
      </intent-filter>
    </activity>

  </application>

</manifest>